[mysqld]
# 禁用用于监控MySQL服务器的运行时性能信息的performance_schema存储引擎，以节省内存（这个效果非常明显）
performance_schema = OFF
# 设置基础表大小
table_open_cache=64
table_definition_cache=400
# 设置连接参数
max_connections=10
thread_cache_size=2
# 设置缓冲池大小，这是MySQL最主要的内存消耗
innodb_buffer_pool_size=8M
innodb_buffer_pool_instances=1
innodb_log_buffer_size=256K
# 设置临时表大小
tmp_table_size=1M
max_heap_table_size=1M
# 其他配置
join_buffer_size=128K
sort_buffer_size=128K
read_buffer_size=128K
read_rnd_buffer_size=128K
myisam_sort_buffer_size=1M
# 降低redo日志文件大小，但这也会增加数据安全风险，请根据需要权衡
innodb_log_file_size=4M
# 设置服务器字符集为utf8mb4
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
# 客户端默认字符集
default-character-set = utf8mb4

[mysql]
# mysql客户端工具使用的字符集
default-character-set = utf8mb4
